In [ ]:
def bubble_sort(arr):
 n=len(arr)
 for i in range(n):
  for j in range(0, n-i-1):
    if arr[j]>arr[j+1]:
      arr[j],arr[j+1]=arr[j+1],arr[j]
 return arr
arr=[64,34,25,12,22,11,90]
print("original array:",arr)
sorted_arr=bubble_sort(arr)
print("sorted array:",sorted_arr)

original array: [64, 34, 25, 12, 22, 11, 90]
sorted array: [11, 12, 22, 25, 34, 64, 90]

In [ ]:
def greet(name):
  print("hello",name)
greet("sayanti")

hello sayanti

In [ ]:
def multiply(a,b):
  n=a*b
  return n
result=multiply(19,23)
print(result)

437

In [ ]:
def add(a,b):
  return a+b
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))
sum=add(num1,num2)
print(f"sum:{sum}")

enter the first number:12
enter the second number:23
sum:35

In [ ]:
my_list=[1,2,3,'four',5.0]
first_element=my_list[0]
last_element=my_list[-1]
print(first_element)
print(last_element)
my_list[1]='two'
my_list[3]=4
print(my_list)
slice_of_list=my_list[1:4]
print(slice_of_list)
for element in my_list:
  print(element)

1
5.0
[1, 'two', 3, 4, 5.0]
['two', 3, 4]
1
two
3
4
5.0

In [ ]:
namelist=['Harsh','Patrick','Bob','Dhrub']
print(namelist[1][-1])
print(namelist[-1][-2])

k
u

In [ ]:
my_list=[1,2,3,'four',5.0]
my_list.append(6)
print(my_list)
my_list.insert(2,'new')
print(my_list)
my_list.remove('four')
print(my_list)

[1, 2, 3, 'four', 5.0, 6]
[1, 2, 'new', 3, 'four', 5.0, 6]
[1, 2, 'new', 3, 5.0, 6]

In [ ]:
geekcode=[1,2,3,4]
geekcode.append([5,6,7,8])
print(geekcode)

[1, 2, 3, 4, [5, 6, 7, 8]]

In [ ]:
li=[2,3.4,'orange',8,'apple']
li.append('mango')
li.insert(7,5)
print(li)

[2, 3.4, 'orange', 8, 'apple', 'mango', 5]

In [ ]:
firstname='Sayanti'
secondname='Bhattacharjee'
lastname='Payel'
fullname=firstname+secondname+lastname
print(fullname)

SayantiBhattacharjeePayel

In [ ]:
text='Dhaka is the capital of Bangladesh'
print(text.upper())
print(text.lower())
print(text.title())
print(text.capitalize())
print(text.swapcase())

DHAKA IS THE CAPITAL OF BANGLADESH
dhaka is the capital of bangladesh
Dhaka Is The Capital Of Bangladesh
Dhaka is the capital of bangladesh
dHAKA IS THE CAPITAL OF bANGLADESH

In [ ]:
my_dict={}
my_dict={'name':'Alice','age':25,'city':'New York'}
print(my_dict)
name=my_dict['name']
age=my_dict['age']
print(name)
print(age)
my_dict['age']=26
my_dict['profession']='Engineer'
del my_dict['city']
profession=my_dict.pop('profession')
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
25
{'name': 'Alice', 'age': 26}