In [ ]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:
sum=0
for i in range(1,101):
  sum=sum+1
  print(sum)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

a=10
b=8
c=19
c is greater

In [ ]:
a=5
b=10
result=a!=b
print(result)

True

In [ ]:
age=int(input("age="))
if age>=18:
  print("you are eligible for voting")
else:
  print("you are not eligible for voting")

age=18
you are eligible for voting

In [ ]:
age=12
print(age,type(age))
age=str(age)
print(age,type(age))

12 <class 'int'>
12 <class 'str'>

In [ ]:
a=True
b=False
print(a,"and",b,"is",a and b)
print(a,"or",b,"is",a or b)
print("not",a,"is",not a)

True and False is False
True or False is True
not True is False

In [ ]:
a=True
b=True
print(a,"and",b,"is",a and b)

True and True is True

In [ ]:
x=5
y=10
print(x<y and x>y)

False

In [ ]:
num=int(input("Enter a number:"))
if num>0:
  print("the number is positive")
elif num<0:
  print("the number is negetive")
else:
  print("the number is zero")

Enter a number:9
the number is positive

In [ ]:
a=20
b=30
if a>b:
  print("a is greater than b")
elif b>a:
  print("b is greater than a")
else:
  print("a is equal to b")

In [ ]:
x=5
if x<5:
  print("x is less than 5")
elif x<15:
  print("x is less than 15")
else:
  print("15 or more")

In [ ]:
a=10
b=4
c=20
if a>b and c>a:
  print("both conditions are true")

In [ ]:
year=int(input("enter a year:"))
if year%4==0 and year%100==0 and year%400==0:
  print("leap year.")
else:
  print("not a leap year.")

enter a year:2025
not a leap year.

In [ ]:
weight=int(input("enter the weight:"))
height=float(input("enter the height:"))
bmi=weight/(height**2)
print(bmi)

enter the weight:67
enter the height:1.55448
27.72710487964442

In [ ]:
start=23
end=30
inc=2
for i in range(start,end,inc):
  print(i)

23
25
27
29

In [ ]:
start=23
end=35
i=i+2
for i in range(start, end,inc):
  print(i)

23
25
27
29
31
33

In [ ]:
start=23
end=30
inc=2
i=start
while i<=end:
  print(i)
  i=i+inc

23
25
27
29

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
start=2
n=int(input("enter a number:"))
#for even number:
for i in range(start,n+2,2):
  print(i)

enter a number:20
2
4
6
8
10
12
14
16
18
20

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)
  if x== "banana":
   break

apple
banana

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  if x=="cherry":
   break
  print(x)

apple
banana

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  if x=="banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
start=int(input("start="))
n=int(input("n="))
for i in range(start,n+1,2):
  print(i)

start=1
n=10
1
3
5
7
9

In [ ]:
for x in range(2,30,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [ ]:
for x in range(6):
  print(x)
else:
  print("finally finished")

0
1
2
3
4
5
finally finished

In [ ]:
for x in range(6):
  if x==3:
    break
  print(x)
else:
  print("finally finished")

0
1
2

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
animal=["cow","dog","cat"]
for x in adj:
  for y in fruits:
    for z in animal:
     print(x,y,z)

red apple cow
red apple dog
red apple cat
red banana cow
red banana dog
red banana cat
red cherry cow
red cherry dog
red cherry cat
big apple cow
big apple dog
big apple cat
big banana cow
big banana dog
big banana cat
big cherry cow
big cherry dog
big cherry cat
tasty apple cow
tasty apple dog
tasty apple cat
tasty banana cow
tasty banana dog
tasty banana cat
tasty cherry cow
tasty cherry dog
tasty cherry cat

In [ ]:
for x in [0,1,2]:
  pass

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
while i<6:
  print(i)
  i=i+1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
def my_function():
  print("hello from a function")
my_function()

hello from a function

In [ ]:
def my_function(fname):
  print(fname+' '+"Refsnes")
my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def my_function(fname,lname):
  print(fname+" "+lname)
my_function("email","Refsnes")

email Refsnes

In [ ]:
def my_function(food):
  for x in food:
    print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
###
def my_function(x):
  return(5*x)
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def my_function(x,/):
  print(x)
my_function(3)

3

In [ ]:
from re import M
def multiply(a,b):
  m=a*b
  return M